</section>
<section class="py-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1 class="display-4 fst-italic">My Articles</h1>
          <hr class="hero-divider" />
      </div>
    </div>
    <% if(articles.length> 0) { %>
    <div class="row">
      <% for (let article of articles){ %>
      <div class="col-md-6 mb-4">
        <div class="article-card row g-0 border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <h3 class="mb-0"><%=article.title %></h3>
            <div class="mb-1 text-muted"><%=article.created_at %></div>
            <p class="card-text mb-auto"><%=article.description %></p>
            <div class="row align-items-center mt-1">
              <div class="col-lg-6">
                <% if(article.articleGrade != null){ %>
                    <a href="/my-article-reviews/<%=article.id %>" class="stretched-link text-warning">View reviews</a>
                <% } else { %>
                   <a href="/article/<%=article.id %>" class="stretched-link text-warning">Continue reading</a>
                <% } %>
              </div>
              <div class="col-lg-6 d-flex justify-content-end">
                <div class="category-container d-flex justify-content-end">
                  <% for (let tagName of article.tagNames){ %>
                  <div>
                    <span class="text-warning"><%=tagName %></span>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto d-none d-lg-block bg-dark-gray p-4 text-center text-warning">
            <i class="bi bi-newspaper article-thumbnail"></i>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <% } else { %>
      <div class="row justify-content-center">
        <div class="card shadow col-lg-6">
          <div class="card-body text-center ">
            <i class="bi bi-exclamation-circle-fill big-icon mb-4 text-warning"></i>
            <h2 class="mb-4">Sorry!</h2>
            <p>Looks like you haven't added any articles yet! We would love to see your work!</p>
          </div>
          <div class="card-footer text-center">
            <a href="/add-article" class="btn btn-warning">Add an article</a>
          </div>
        </div>
      </div>
    <% } %>
</section>
