<section class="min-full-height-section bg-secondary">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-stretch h-100">
      <div class="col col-xl-10">
        <div class="card overflow-hidden h-100" style="border-radius: 1rem;">
          <div class="row g-0 h-100">
            <div class="col-md-6 col-lg-7 d-none d-md-block login-background">
            </div>
            <div class="col-md-6 col-lg-5 py-lg-5 px-lg-3 d-flex align-items-center">
              <div class="card-body">
                <form method="POST" action="/signup" id="register-form">
                  <div class="d-flex justify-content-center align-items-center mb-5">
                    <span class="h2 fw-bold align-middle mb-0">Create an account</span>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Full Name" name="name" value="<%= user ? user.name : '' %>" required>
                    <label for="floatingInput">Full Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Metamask Address" name="metamask_id" value="<%= user ? user.metamask_id : '' %>" required>
                    <label for="floatingInput">Metamask Address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Email" name="email" value="<%= user ? user.email : '' %>" required>
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating flex-nowrap mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password" value="<%= user ? user.password : '' %>" required>
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Job" name="job" value="<%= user ? user.job : '' %>" required>
                    <label for="floatingInput">Job</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Company" name="company" value="<%= user ? user.company : '' %>" required>
                    <label for="floatingInput">Company</label>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-warning btn-lg btn-block" type="submit">Register</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>