<section id="particles-js" class="bg-secondary py-lg-5 position-relative">
    <div class="container">
        <% if(score.cid !== "" ){ %>
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="display-4 fst-italic">Congratulations!</h1>
                    <hr class="hero-divider" />
                    <h2 class="fst-italic">Your score is: <%=score.userScore %>/<%=score.maxScore %>
                    </h2>
                    <input type="hidden" id="CID" value="<%=score.cid %>">
                </div>
            </div>
            <% } else {%>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="display-4 fst-italic">Thank you for submitting your test!</h1>
                        <hr class="hero-divider" />
                        <h2 class="fst-italic">Unfortunately, your score did not meet the necessary criteria to qualify for a badge. We encourage you to continue practicing and improving your skills, and to try again in the future. Best of luck! </h2>
                        <h2 class="fst-italic"> Your score is: <%=score.userScore %>/<%=score.maxScore %> </h2>
                        <input type="hidden" id="CID" value="<%=score.cid %>">
                    </div>
                </div>
            <% } %>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/@metamask/onboarding@1.0.1/dist/metamask-onboarding.bundle.min.js"></script>
<script type="module" src="/js/getBadge.js" defer></script>